.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
  min-height: 0;
}
.freeBox__rHnTr {
  max-width: 1140px;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__clZze {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  background: #f8f9fd;
}
.freeBox__clZze > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__clZze > :global(.__wab_flex-container) > *,
.freeBox__clZze > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__clZze > :global(.__wab_flex-container) > picture > img,
.freeBox__clZze
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__eqh9T {
  max-width: 1140px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.productCarousel:global(.__wab_instance) {
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
}
.freeBox__a1G2T {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
}
.text__yhxSw {
  position: relative;
  color: rgb(97, 96, 96) /* plasmic-token: fUmDW9VWytoT */;
  font-size: 30px;
  font-weight: 500;
}
.freeBox___2GC0F {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox___2GC0F > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox___2GC0F > :global(.__wab_flex-container) > *,
.freeBox___2GC0F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2GC0F > :global(.__wab_flex-container) > picture > img,
.freeBox___2GC0F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2GC0F {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2GC0F > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2GC0F > :global(.__wab_flex-container) > *,
  .freeBox___2GC0F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2GC0F > :global(.__wab_flex-container) > picture > img,
  .freeBox___2GC0F
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.productCard___3DiSf:global(.__wab_instance) {
  position: relative;
}
.img__pz5Q {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__pz5Q > picture > img {
  object-fit: cover;
}
.img__pz5Q > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__b0BhV:global(.__wab_instance) {
  position: relative;
}
.productCard___4Skj2:global(.__wab_instance) {
  position: relative;
}
.img__ae9K {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__ae9K > picture > img {
  object-fit: cover;
}
.img__ae9K > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__jNv5E:global(.__wab_instance) {
  position: relative;
}
.productCard__tpcRg:global(.__wab_instance) {
  position: relative;
}
.img__pjBmw {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__pjBmw > picture > img {
  object-fit: cover;
}
.img__pjBmw > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings___4UlxO:global(.__wab_instance) {
  position: relative;
}
.productCard__y1Brr:global(.__wab_instance) {
  position: relative;
}
.img__qdhHh {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__qdhHh > picture > img {
  object-fit: cover;
}
.img__qdhHh > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__je9N7:global(.__wab_instance) {
  position: relative;
}
.freeBox__gGa1P {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  margin-bottom: 64px;
  min-width: 0;
}
.freeBox__gGa1P > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox__gGa1P > :global(.__wab_flex-container) > *,
.freeBox__gGa1P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gGa1P > :global(.__wab_flex-container) > picture > img,
.freeBox__gGa1P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gGa1P {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gGa1P > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gGa1P > :global(.__wab_flex-container) > *,
  .freeBox__gGa1P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gGa1P > :global(.__wab_flex-container) > picture > img,
  .freeBox__gGa1P
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.productCard__p5Ysq:global(.__wab_instance) {
  position: relative;
}
.img__znBsk {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__znBsk > picture > img {
  object-fit: cover;
}
.img__znBsk > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__hdEn:global(.__wab_instance) {
  position: relative;
}
.productCard___1C0Qd:global(.__wab_instance) {
  position: relative;
}
.img__fOeq1 {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__fOeq1 > picture > img {
  object-fit: cover;
}
.img__fOeq1 > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__xs4Bo:global(.__wab_instance) {
  position: relative;
}
.productCard__eENgp:global(.__wab_instance) {
  position: relative;
}
.img__a0Pa3 {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__a0Pa3 > picture > img {
  object-fit: cover;
}
.img__a0Pa3 > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__s3PrG:global(.__wab_instance) {
  position: relative;
}
.productCard__pjNvP:global(.__wab_instance) {
  position: relative;
}
.img__evaoh {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__evaoh > picture > img {
  object-fit: cover;
}
.img__evaoh > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings___0Mqvs:global(.__wab_instance) {
  position: relative;
}
.text__tVrEq {
  height: auto;
}
.featureItem:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
}
.freeBox__ufveJ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
}
.text__ymMy1 {
  position: relative;
  color: rgb(97, 96, 96) /* plasmic-token: fUmDW9VWytoT */;
  font-size: 30px;
  font-weight: 500;
}
.freeBox__exwJ0 {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
}
.freeBox__exwJ0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 36px);
  width: calc(100% + 36px);
}
.freeBox__exwJ0 > :global(.__wab_flex-container) > *,
.freeBox__exwJ0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__exwJ0 > :global(.__wab_flex-container) > picture > img,
.freeBox__exwJ0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 36px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__exwJ0 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__exwJ0 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__exwJ0 > :global(.__wab_flex-container) > *,
  .freeBox__exwJ0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__exwJ0 > :global(.__wab_flex-container) > picture > img,
  .freeBox__exwJ0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.productCard__mU10L:global(.__wab_instance) {
  position: relative;
}
.text__xPd8M {
  height: auto;
}
.text__ycGnh {
  height: auto;
}
.img__xwTe {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__xwTe > picture > img {
  object-fit: cover;
}
.img__xwTe > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__cHbna:global(.__wab_instance) {
  position: relative;
}
.productCard__pLVj:global(.__wab_instance) {
  position: relative;
}
.img__d7Fzl {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__d7Fzl > picture > img {
  object-fit: cover;
}
.img__d7Fzl > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings___1Dv5P:global(.__wab_instance) {
  position: relative;
}
.productCard__nmnkt:global(.__wab_instance) {
  position: relative;
}
.img__snKzr {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__snKzr > picture > img {
  object-fit: cover;
}
.img__snKzr > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__fOmb:global(.__wab_instance) {
  position: relative;
}
.productCard__yKVgQ:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__yKVgQ:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__hslqf {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__hslqf > picture > img {
  object-fit: cover;
}
.img__hslqf > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__tiBjC:global(.__wab_instance) {
  position: relative;
}
.freeBox__tByqd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__mwSkW {
  position: relative;
  color: rgb(97, 96, 96) /* plasmic-token: fUmDW9VWytoT */;
  font-size: 30px;
  font-weight: 500;
}
.freeBox__e7GtR {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
}
.freeBox__e7GtR > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__e7GtR > :global(.__wab_flex-container) > *,
.freeBox__e7GtR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e7GtR > :global(.__wab_flex-container) > picture > img,
.freeBox__e7GtR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e7GtR {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e7GtR > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e7GtR > :global(.__wab_flex-container) > *,
  .freeBox__e7GtR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__e7GtR > :global(.__wab_flex-container) > picture > img,
  .freeBox__e7GtR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.blogPost__hw9Po:global(.__wab_instance) {
  position: relative;
}
.img__qwDni {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__qwDni > picture > img {
  object-fit: cover;
}
.img__qwDni > .__wab_img-spacer > img {
  object-fit: cover;
}
.blogPost__jIvi:global(.__wab_instance) {
  position: relative;
}
.img__gq7Z {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__gq7Z > picture > img {
  object-fit: cover;
}
.img__gq7Z > .__wab_img-spacer > img {
  object-fit: cover;
}
.blogPost__viDhi:global(.__wab_instance) {
  position: relative;
}
.img___6Ybua {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___6Ybua > picture > img {
  object-fit: cover;
}
.img___6Ybua > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___5Hr1 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: #f8f9fd;
  padding: 48px;
}
.freeBox___5Hr1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox___5Hr1 > :global(.__wab_flex-container) > *,
.freeBox___5Hr1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Hr1 > :global(.__wab_flex-container) > picture > img,
.freeBox___5Hr1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.img__pFaQ4 {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img__pFaQ4 > picture > img {
  object-fit: cover;
}
.img__pFaQ4 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___7I9Gn {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img___7I9Gn > picture > img {
  object-fit: cover;
}
.img___7I9Gn > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__kg8Vp {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img__kg8Vp > picture > img {
  object-fit: cover;
}
.img__kg8Vp > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__k6MYg {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img__k6MYg > picture > img {
  object-fit: cover;
}
.img__k6MYg > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__yrqkj {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.img__yrqkj > picture > img {
  object-fit: cover;
}
.img__yrqkj > .__wab_img-spacer > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  position: relative;
}
